<!--
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InKontakte-Registration</title>
</head>
&lt;!&ndash;<body>
<header><div style="position: relative"><a href="/" style="font-size: 20pt">InKontakte</a></div></header>
<form action="/registration" method="post">
    <div><label> User Name <input type="text" name="username"/></label></div>
    <div><label> Password <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Registration" name="button"/></div>
</form>
Есть аккаунт?<a href="/login">Войти</a>&ndash;&gt;
</body>
</html>-->
