<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InKontakte-Sign In</title>
</head>
<body>

<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
<!--<header><div style="position: relative"><a href="/" style="font-size: 20pt">InKontakte</a></div></header>
<form action="/login" method="post">
    <div><label> User Name <input type="text" name="username"/></label></div>
    <div><label> Password <input type="password" name="password"/></label></div>
    <div><input type="submit" value="Sign In" name="button"/></div>
</form>
Нет аккаунта?<a href="/registration">Зарегистрируйся</a>-->
</body>
</html>