<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InKontakte-Profile</title>
</head>
<body>
<header>
    <div style="position: relative">
        <a href="/">
            <span style="font-size: 20pt">
                InKontakte
            </span>

            <a th:if="${frontendData.profile}" href="/profile" style="position: absolute; right: 10%; top: 50%; transform: translate( 0, -50%)">
                Профиль
            </a>
            <a th:if="${frontendData.profile}" href="/logout" style="position: absolute; right: 1%; top: 50%; transform: translate( 0, -50%)">
                Выйти
            </a>
        </a>
    </div>
</header>
Profile)

<div th:text="${frontendData.profile.username}"></div>
<div th:text="${frontendData.profile.authorities[0]}"></div>
<div th:text="${frontendData.profile.username}"></div>
</body>
</html>